@import "tailwindcss";
@config "../tailwind.config.js";

body {
  margin: 0;
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; /* Loại bỏ scroll ngang */
}

.slick-prev,
.slick-next {
  width: 40px !important; /* To hơn */
  height: 40px !important;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  z-index: 10 !important;
}

.slick-prev {
  left: 10px !important; /* Thụt vào */
}

.slick-next {
  right: 10px !important; /* Thụt vào */
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px !important; /* Icon to hơn */
  color: #FFFFFF !important;
}


/* Tùy chỉnh scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* Màu nền của track, tiệp với sidebar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Màu của thumb (phần kéo) */
  border-radius: 4px; /* Bo góc thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a; /* Màu thumb khi hover */
}